.hpBarContainer {
  position: relative;

  height: 20px;
  background-color: red;
  margin-top: -20px;
  border-radius: 6px;
}

.hpBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: green;
  border-radius: 6px;
}
