#level-container {
  height: 100%;
  width: 100vw;
  z-index: 20;
  overflow: hidden;
  position: absolute;
  background-color: transparent;
}

.levelSelectionDiv1 {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 100;
  overflow: hidden;
}

.levelSelect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 8px;
  animation: LevelScreenIn 0.2s ease;
}

.levelSelect > div {
  background-color: black;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.1s ease all;
}

.levelSelect > div:hover {
  background-color: white;
}

.buton {
  position: absolute;
  top: 32px;
  left: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.1s ease all;
}

.buton:hover {
  scale: 95%;
}

#levelSelectionOut {
  animation: LevelScreenOut 0.2s ease;
}

/* LEVEL SCREEN IN AND OUT ANIMACIJE */

@keyframes LevelScreenIn {
  0% {
    left: 110%;
  }

  50% {
    left: 75%;
  }

  100% {
    left: 50%;
  }
}

@keyframes LevelScreenOut {
  0% {
    left: 50%;
  }

  50% {
    left: 75%;
  }

  100% {
    left: 110%;
  }
}

.audioBtnLevel {
  position: absolute;
  right: 32px;
  top: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.audioBtnLevel:hover {
  scale: 0.95;
}
